//FONT INSTALL
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap');

//CSS RESET
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none; /* no underline */
}

//COLOR VARIABLES
$background: linear-gradient(180deg, #1D1E28 0.12%, #261C2D 94.84%, #261A2D 100%); 
$accent: #FB5E84;
$text-color:#8385A9;
$white: #fff;

//FONT FAMILY
@mixin font ($fontSize, $lineHeight, $color,  $letterSpacing){
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    color: $color;
}

h1 {
    @include font(18px, 24px, $white, 6.13636px);
}

p, a {
    @include font(7px, 9px, $text-color, 2.95937px);
}


//CONTAINER SETTINGS
.container {
    max-width: 688px;
    margin: 0 auto;
}

//MEDIA QUERIES
@mixin desktop-screen {
    @media (min-width: 688px) { @content }
}

@mixin image-responsive {
    @media (min-width: 1430px) { @content }
}

@mixin height-after-800 {
    @media (min-height: 800px) { @content }
}